.sticker {
  margin: 50px auto;
  width: 80%;
  display: flex;
  align-items: center;
  background-color: $bg-color;
}

.sticker-image {
  width: 60%;
  height: auto;
}

.sticker-text {
  background-size: cover;
  color: white;
  font-size: 3vw;
  text-align: center;
  padding: 2vw;
}
