html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Colors
$primary: orange;
$secondary: rgb(196, 21, 21);
$terciary: yellow;
$bg-color: #322423;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  b {
    font-weight: bold;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-image: linear-gradient(to bottom right, $primary, $secondary);
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
}

@import "./Home.scss";
@import "./Navbar.scss";
@import "./ProductCard.scss";
@import "./Products.scss";
@import "./ShopCart.scss";
