.navbar {
  width: 100vw;
  height: 70px;
  /* background-color: rgb(253, 166, 5); */
  // background-image: linear-gradient(to bottom right, $primary, $secondary);
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.navbar-links {
  margin-right: 20px;
}

.navbar-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  margin: 0 5px;
}

.navbar-link:hover {
  color: rgb(143, 56, 56);
}
