.cart {
  width: 300px;
  height: fit-content;
  min-height: 100px;
  background-color: $bg-color;
  color: white;
  margin: 40px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  flex: 0 0 auto;

  h2 {
    height: 20%;
  }
  .cart-content {
    background-color: white;
    width: 100%;
    height: 80%;
    color: black;
    min-height: 70px;
    margin-top: 10px;
    padding: 5px;

    .content {
      display: flex;
      justify-content: space-between;

      .delete-button {
        background-color: white;
        border: none;
        margin-left: 5px;
        color: grey;
      }

      .delete-button:hover {
        color: rgb(189, 178, 178);
      }

      .delete-button:focus {
        outline: none;
      }
    }
  }

  .pagar {
    margin-top: 15px;
    width: 50px;
    height: 30px;
    font-size: 1rem;
    background-color: $terciary;
    border: none;
    border-radius: 5px;
  }
}
